{# Afficher les catégories #}
{% extends "baseadmin.html.twig" %}

{% block body %}
    <p class="mt-3">
        <h3>Gestion des catégories</h3>
    </p>
    {# Tableau des catégories avec bouton supprimer #}
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
            <caption class="visually-hidden">Tableau des catégories, et pour chaque catégorie, un bouton pour la supprimer</caption>
            <thead>
                <tr>
                    {# Colonne 'Catégories' #}
                    <th class="text-left align-top w-30" scope="col">
                        Catégories
                    </th>
                </tr>
                {# Colonne pour l'action supprimer #}
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </thead>
            <tbody>
                {# Boucle sur toutes les catégories pour les afficher #}
                {% for categorie in categories %}
                    <tr class="align-middle">
                        {# Titre de la formation #}
                        <td>
                            <h5 class="text-info">
                                {{ categorie.name }}
                            </h5>
                        </td>
                        {# Bouton pour supprimer une catégorie #}
                        <td>
                            {# Bouton fait appel à méthode "suppr" et envoit l'id de la catégorie #}
                            <a href="{{ path('admin.categorie.delete', {id:categorie.id}) }}" class="btn btn-danger mt-1" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{categorie.name}} ?');">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h4 class="mb-4 text-center"> Ajout d'une catégorie </h4>
    {# Formulaire d'ajout d'une nouvelle catégorie #}
    {{ form_start(formCategorie) }}
    <div class="row">
        <div class="col">
            <div class="row mb-3 ms-5">
                <div class="col-auto" style="margin-left: 400px;">
                    {{ form_label(formCategorie.name) }}
                </div>
                <div class="col-auto" style="margin-left: 25px;">
                    {{ form_widget(formCategorie.name) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    {{ form_widget(formCategorie.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            </div>
    </div>
    {{ form_end(formCategorie) }}
{% endblock %}