{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        {# Bannière en haut de la page #}
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt = "Logo MediaTek86">
        </div>
        {# Menu côté administrateur #}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <a class="nav-link" href="{{ path("admin.formations") }}">Formations</a>
                    <li>
                        <a class="nav-link" href="{{ path("admin.playlists") }}">Playlists</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Catégories</a>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </nav>
        {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><em>
                Consultez nos <a class="link-secondary" href="{{ path('admin.cgu') }}">Conditions Générales d'Utilisation</a>
            </em></small></p>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
